.container-fluid{
 box-sizing: border-box;   
}
    .row{
        padding: 20px 20px 40px;
        font-size: 18px;
        
    }
    .row h6{
        font-size: 22px;
        color: #202020;
        
    }

    .col-md-8  {
      /* background-color: red; */
      padding-bottom:50px;
      border-style: solid;
      border-color: #34495E;
      border-width: 2px;

    }

    .col-md-4 {
        /* background-color:green; */
        padding-bottom:50px;
        border-style: solid;
        border-color: #34495E;
        border-width: 2px;
    }

    .qimg{
        
        height:150px;
        padding-bottom: 10px;
        padding-left: 40px;
    }
    .onehead{

       color:#34495E;
       font-size: 15px;
        font-weight: 500;
        padding-top:10px ;
        padding-bottom: 0px;
    }
    
    .secondhead{

        color:#34495E;
        font-size: 15px;
         font-weight: 500;
         padding-top:10px ;
         padding-bottom: 0px;
     }
    

     .clock {
        text-align: center;
        color: #34495E;
        font-size: 30px;
        font-family: Orbitron;
        letter-spacing: 5px;



    }
    .col-md-4 h6{
        font-family: Orbitron;
        letter-spacing: 5px;
        color: #34495E;
    }

    @media screen and (max-width: 767px) {
        .col-md-8 {
        
           padding-bottom:20px;
           border-style: solid;
           border-color: gray;
        }
        
        .col-md-4 {
            margin-top: 30px;
            padding-bottom:50px;
            border-style: solid;
        }

     

        .clock {
          
            color: #34495E;
            font-size: 20px;
            font-family: Orbitron;
            letter-spacing: 5px;
    
    
    
        }

    }
/*
    @media screen and (max-width: 452px) {


        .container thead {
            color: #263847;
            font-size: 12px;
        }


    }


    @media screen and (max-width: 400px) {
        .container a {
            padding: 5px;
            width: 50px;
            text-align: center;
            font-size: 10px;
        }

        .container thead {
            color: #263847;
            font-size: 12px;
        }
    } */